@import "styles/variables";

.footer{
  margin-top: 50px!important;
  .register{
    border-radius: 12px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 40px;
    background-image: url("../../../public/images/bottom-circle.png"), url("../../../public/images/top-circle.png");
    background-repeat: no-repeat;
    background-position: bottom right 4%, top left;
    background-size: 25%, 17%;

    .title{
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 0!important;
    }
    .input-group{
      input{
        border: solid 1px #ebebeb;
        height: 45px;
      }
      .input-group-prepend{

      }
      .input-group-text{
        font-size: 1rem;
        background-color: #ffd10f;
        border-top-left-radius: .25rem!important;
        border-bottom-left-radius: .25rem!important;
        padding: 0 30px;
        border: 0;
        cursor: pointer;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 81%;
    background-color: #e2e1e6;
    z-index: -10;
    -webkit-transition: all .1s
  }
  .footer-phone{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #959595;
    p{
      font-size: 1.11rem;
      margin-bottom: 0!important;
      &:first-child{
        font-size: 0.9rem;
      }
    }
    .left{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5%;
      text-align: right;
      border-right: 1px solid #959595;
    }
    .right{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5%;
      text-align: left;
    }
  }
  .links{
    text-align: right;
    padding-top: 45px;
    .title{
      font-size: 1.388rem;
      margin-bottom: 10px;
    }
  }
  a{
    display: block;
    line-height: 33px;
    font-size: 0.833rem;
    color: #252525;
    &:hover{
      text-decoration: none;
    }
  }
}

.sub-footer{
  background-color: #c8c7cb;
  width: 100%;
  color: #252525;
  padding: 20px 30px;
  .left-container{
    text-align: left;
    font-size: 1rem;
  }
  .right-container{
    text-align: right;
    font-size: 1rem;
    p{
      direction: rtl;
    }
  }
  p{
    margin-bottom: 0;
  }
}