@font-face {
  font-family: DIN;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/DIN-Regular.eot');
  src: url('/fonts/DIN-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/DIN-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/DIN-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DIN-Black;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/DIN-Black.eot');
  src: url('/fonts/DIN-Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/DIN-Black.woff2') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/DIN-Black.ttf') format('truetype');
}

@font-face {
  font-family: DIN-Bold;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/DIN-Bold.eot');
  src: url('/fonts/DIN-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/DIN-Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/DIN-Bold.ttf') format('truetype');
}