@import "variables";
@import 'https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css';

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/IRYekan.eot');
  src: url('/fonts/IRYekan.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('/fonts/IRYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/IRYekan.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  direction: rtl;
}
body{
  font-family: IRANYekan!important;
  background-color: #f5f5f5!important;
}

a{
  text-decoration: none!important;
}

.full-width{
  width: 100%;
}

.pb15{
  padding-bottom: 15px;
}