@import "variables";
@import "fonts";

@media only screen and (max-width: 800px) {
  html,
  body {
    font-size: 13px!important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: DIN!important;
}

.full-height{
  height: 80vh !important;
}

.full-width{
  width: 100%;
}

.orange-color{
  color: $orange;
}
.mt30{
  margin-top: 30px;
}
.mt2{
  margin-top: 2px;
}
.mb2{
  margin-bottom: 2px;
}
.m0{
  margin: 0!important;
}
.p40{
  padding: 40px;
}
.pt30{
  padding-top: 30px;
}
.sub-header{
  width: 100%;
  background-color: black;
}

.black-title{
  font-size: 1.67rem;
  font-weight: bold;
  color: black;
  font-family: DIN-Black;
}